.footer{
    padding: 4rem 6rem;
    background-color: black;
    color: white;
}

.top{
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.top i{
    color: #fff;
    font-size: 2rem;
    margin-left: 1rem;
}
.top i:hover{
    color: #01959a;
}

.bottom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: start;
    justify-content: space-between;
}


.bottom div{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.bottom a{
    text-decoration: none;
    color: #fafafa;
    padding-bottom: .4rem;
}
.bottom h4{
    font-size: 1.4rem;
}

@media screen and (Max-width:850px) {
    .footer{
        padding: 4rem 2rem;
    }
    .footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
    }
    .top{
        margin-bottom: 2rem;
    }
}